openapi: 3.1.1

info:
  title: Lunary GPT API
  version: 1.0.0
  description: Private Lunary endpoints for Custom GPTs. Provides Grimoire search and symbolic cross-system bridging using Lunary’s internal knowledge base.

servers:
  - url: https://lunary.app/api

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send Authorization: Bearer <LUNARY_GPT_SECRET>'

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
      additionalProperties: false

    GrimoireSearchResult:
      type: object
      required: [slug, title, summary, url, category]
      properties:
        slug:
          type: string
        title:
          type: string
        summary:
          type: string
        url:
          type: string
        category:
          type: string
      additionalProperties: false

    GrimoireSearchResponse:
      type: object
      required: [query, resultCount, results, ctaUrl, ctaText, source]
      properties:
        query:
          type: string
        resultCount:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/GrimoireSearchResult'
        ctaUrl:
          type: string
        ctaText:
          type: string
        source:
          type: string
      additionalProperties: false

    GrimoireLink:
      type: object
      required: [type, title, slug, url, summary]
      properties:
        type:
          type: string
          description: Normalized type (tarot, crystal, zodiac, planet, glossary, ritual, etc.)
        title:
          type: string
        slug:
          type: string
        url:
          type: string
        summary:
          type: string
        reason:
          type: string
          description: Why this entry is related to the seed concept
      additionalProperties: false

    GrimoireBridgeResponse:
      type: object
      required:
        [seed, typesRequested, resultCount, links, ctaUrl, ctaText, source]
      properties:
        seed:
          type: string
        typesRequested:
          type: array
          items:
            type: string
        resultCount:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/GrimoireLink'
        ctaUrl:
          type: string
        ctaText:
          type: string
        source:
          type: string
      additionalProperties: false

paths:
  /gpt/grimoire/search:
    get:
      operationId: grimoireSearch
      summary: Search the Lunary Grimoire
      description: Searches Lunary’s internal Grimoire index and returns canonical entries.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrimoireSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /gpt/grimoire/bridge:
    get:
      operationId: grimoireBridge
      summary: Bridge a concept across symbolic systems
      description: Returns related Lunary Grimoire entries using semantic resolution, aliasing, and scoring.
      parameters:
        - name: seed
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: types
          in: query
          required: false
          description: Comma-separated type filter (e.g. tarot,crystal,zodiac)
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
      responses:
        '200':
          description: Bridge results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrimoireBridgeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
