@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  /* --background-end-rgb: 255, 255, 255; */

  --lunary-violet: #7358ff;
  --lunary-rose: #ff7b9c;
  --lunary-blue: #4f5bff;
  --lunary-midnight: #0a0a1a;
  --lunary-orchid: #e066ff;
  --lunary-lavender: #c77dff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .widget {
  background-color: ;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
